.footer
  .footer-contents
    .logo-content
      スケジュール管理
    .overview-content
      %ul.overview-content__head
        スケジュール管理について
        %li.overview-content__list
          サービス概要
        %li.overview-content__list
          プライバシーポリシー
        %li.overview-content__list
          利用規約
        %li.overview-content__list
          よくあるご質問
  .footer-copy
    ©nakaya-kousuke portfolio